#app {
	max-width: 850px;
	margin: 0 auto;
}

nav {
	padding: 20px 0 20px 0;
}

body {
	background: black;
	color: white;
}

h1,
h2 {
	color: red;
}

div.card.Attacker {
	background: red;
}

div.card.Defender {
	background: darkgray;
}

div.card.Side {
	background: darkgray;
}
